.modal-container{
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.37);
}

.modal-box{
  background-color: white;
  padding: 10px;
  color: black;
  border-radius: 15px;
  max-width: 320px;
  width: 100%;
}

.title-section{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 20px 10px 20px;

}

.modal-title{
  font-size: 20px;
  font-weight: 700;
}

.image-container{
  width: 300px;
  height: 300px;
  background-image: url('/public/images/image-rules.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% 70%;
}

.close-button{
  color: rgb(200, 74, 74);
  cursor: pointer;
}

.game-rule{
  padding: 20px 20px 0px 20px;
  color: hsla(217, 16%, 45%, 0.781);
  text-transform: uppercase;
  font-size: 14px;
  text-align: justify;
}

